.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
.loginPage{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 90vh;
}